/* #FF155C
#7DA4AC
*/

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.container {
  position: relative;
  text-align: left;
  color: black;
}

.top-left {
  position: absolute;
  top: 20px;
  left: 20px;
}



.indent {
margin-left: 40px;
}

}
.three-cols {
   column-count: 3;
   column-gap: 40px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-left: 40px;

}

.margindiv {
  margin-right: 20px;
  margin-left: 20px;

}


body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
  background:  #BCBCBC;
  width: 100%;
  height: 80px;
padding: 0 60px;
}

.marginauto {
    margin: 10px auto 20px;
    display: block;
}

.logo{
  color: #f2f2f2;
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  line-height: 80px;
}
.active{
  background: #7DA4AC;
  border-radius: 5px;
}

ul{
  display: inline-block;
  position: absolute;
  right: 0;
  line-height: 80px;
  padding: 0 60px;
}

ul li{
  display: inline-block;
}

ul sli a{
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  margin-right: 10px;
  padding: 10px 20px;
}

ul li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  margin-right: 10px;
  padding: 10px 20px;
}

ul li a:hover{
  background: #7DA4AC;
  border-radius: 5px;
  transition: .02s;
    filter: blur(0px);
}

ul li a:not(hover){
  border-radius: 5px;
  transition: .02s;    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(3px);
}


/*  mobile icon bars */
#check{
  display: none;
}

.checkbtn{
  font-size: 30px;
  color: #ffffff;
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}

nsimg:not(:hover) {
    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}



/* main content section */
.main{
  background-image: url("bg.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

/* Responsive Mobile section */
@media screen and (max-width:960px){
  .header{
    padding: 0 30px;
  }

  .logo{
    font-size: 20px;
  }

  ul{
    position: fixed;
    top:80px;
    right: 0;
    background: #7DA4AC;
    width: 100%;
    height: 100vh;
    text-align: center;
    left: -100%;
    transition: 0.5s;
		z-index: 4;


  }

  ul li {
    display: block;
  }

  ul li a:hover{
    color: #FF155C;
  }

  .checkbtn{
    display: block;
  }

  #check:checked ~ ul
{
  left: 0;
}}



	body, input, select, textarea {
		color: #ffffff;

		font-family: "Source Sans Pro", sans-serif;
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.65;
	}

	body2 {
		color: #000000;
		font-family: "Source Sans Pro", sans-serif;
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.65;
	}

	#wrapper {
		background: #1b1f22;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		position: relative;
		min-height: 100vh;
		width: 100%;
		padding: 4rem 2rem;
		z-index: 3;
	}
	#wrapper2 {
		background: #ffffff;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		position: relative;
		
		width: 100%;
		padding: 4rem 2rem;
		z-index: 3;
	}

		@media screen and (max-width: 1680px) {

			#wrapper {
				padding: 3rem 2rem;
			}

		}

		@media screen and (max-width: 736px) {

			#wrapper {
				padding: 2rem 1rem;
			}

		}

		@media screen and (max-width: 480px) {

			#wrapper {
				padding: 1rem;
			}

		}

	h1b, h2b, h3b, h4b, h5b, h6b {
		color: #000000;
		font-weight: 600;
		line-height: 1.5;
		margin: 0 0 1rem 0;
		text-transform: none;
  	
	font-family: "Brush Script MT";
		letter-spacing: 0.2rem;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #ffffff;
		font-weight: 600;
		line-height: 1.5;
		margin: 0 0 1rem 0;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

		h1.major, h2.major, h3.major, h4.major, h5.major, h6.major {
			border-bottom: solid 1px #ffffff;
			width: -moz-max-content;
			width: -webkit-max-content;
			width: -ms-max-content;
			width: max-content;
			padding-bottom: 0.5rem;
			margin: 0 0 2rem 0;
		}

	h1 {
		font-size: 3.25rem;
		line-height: 2.0;
		letter-spacing: 0.5rem;
	}
	h1b {
		font-size: 2.25rem;
		line-height: 1.3;
		letter-spacing: 0.5rem;
	}

	h2 {
		font-size: 1.5rem;
		line-height: 1.4;
		letter-spacing: 0.5rem;
	}

	h3 {
		font-size: 1rem;
	}

	h4 {
		font-size: 0.8rem;
	}

	h5 {
		font-size: 0.7rem;
	}

	h6 {
		font-size: 0.6rem;
	}


/* Image */

	.image {
		border-radius: 4px;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image:before {
			pointer-events: none;
			background-image: url("../../images/overlay.png");
			background-color: rgba(19, 21, 25, 0.5);
			border-radius: 4px;
			content: '';
			display: block;
			height: 100%;
			left: 0;
			opacity: 0.5;
			position: absolute;
			top: 0;
			width: 100%;
		}

		.image img {
			border-radius: 4px;
			display: block;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			margin: 0 0 2rem 0;
			width: 100%;
		}


			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 2.5rem 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}
